@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='checkbox'] {
  zoom: 1.6;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border: none;
  background: #2d3036;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: #1f2126;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
  background: #1f2126;
}
